<div *ngIf="exam">
    <h2><span>Exam</span> {{exam.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <!--<dl class="row-md jh-entity-details">-->
        <!--<table class="table table-striped">-->
            <!--<tbody>-->
            <!--<tr *ngFor="let userAnswer of exam.userAnswers ">-->
                <!--<td [innerHTML]="userAnswer.question.content"></td>-->
                <!--<span *ngFor="let answer of userAnswer.question.answerList">-->
                   <!--{{answer.variant}}. {{answer.content}}<br/>-->
                <!--</span>-->

            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->

    <!--</dl>-->
    <div class="row">
        <dl class="row-md jh-entity-details">
            <span [innerHTML]="currentUserAnswer.question.content"></span>
            <br><hr>

            <table class="table table-striped">
                <tbody>
                <tr *ngFor="let answer of currentUserAnswer.question.answerList">
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="negateIsCorect(answer)" *ngIf="!answer.isCorect"
                        >Incorrect</button>
                        <button class="btn btn-success btn-sm" (click)="negateIsCorect(answer)" *ngIf="answer.isCorect"
                        >Correct</button>
                    </td>
                    <td [innerHTML]="answer.variant"></td>
                    <td [innerHTML]="answer.content"></td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-primary create-exam" (click)="nextQuestion()">
                <span >
                    Next question
                    </span>
            </button>
        </dl>
    </div>
</div>


