<form name="generateForm" (ngSubmit)="confirmGenerate()">
    <div class="modal-header">
        <h4 class="modal-title">Confirm starting new exam</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div *ngIf="!isLoading" class="modal-body">
        <p>Are you sure you want to start this Exam?</p>
    </div>
    <div *ngIf="isLoading" class="modal-body">
        <p>Please wait! Your exam is being generated...</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="isLoading" class="btn btn-success">
            <span class="fa fa-play-circle"></span>&nbsp;<span>Start!</span>
        </button>
    </div>
</form>
