<div *ngIf="exam">
    <h2><span>Exam</span> {{exam.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <table class="table table-striped">
            <tbody>
            <tr *ngFor="let userAnswer of exam.userAnswers ">
                <td [innerHTML]="userAnswer.question.content"></td>
                <span *ngFor="let answer of userAnswer.question.answerList">
                   {{answer.variant}}. {{answer.content}}<br/>
                </span>

            </tr>
            </tbody>
        </table>
    </dl>
</div>

