
<div *ngIf="question">
    <h2><span>Question</span> {{question.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Content</span></dt>
        <dd>
            <span>{{question.content}}</span>
        </dd>
        <dt><span>Explanation</span></dt>
        <dd>
            <span>{{question.explanation}}</span>
        </dd>
        <dt><span>Chapter</span></dt>
        <dd>
            <div *ngIf="question.chapter">
                <a [routerLink]="['/chapter', question.chapter?.id]">{{question.chapter?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'question/'+ question.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
